[alias]
  lg = log --date=short --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan bold)%cd%Creset %C(bold blue)<%an>%Creset' --abbrev-commit
  addu = add -u
  cane = commit --amend --no-edit
  no = show --pretty="format:" --name-only
  lbc = for-each-ref --sort=-committerdate refs/heads/ # shows branch order based on last commit  
[color]
  ui = true
[user]
  email = shuanwang@gmail.com
  name = Shuan Wang
[core]
  autocrlf = false
