[alias]
  lg = log --date=short --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan bold)%cd%Creset %C(bold blue)<%an>%Creset' --abbrev-commit
  addu = add -u
  cane = commit --amend --no-edit
  no = show --pretty="format:" --name-only
  # lbc: shows branch order based on last commit  
  lbc = for-each-ref --sort=-committerdate --count=10 --format='%(color:nodim)%(color:red)%(objectname:short)  %(align:20,left)%(color:bold blue)%(authorname)%(color:normal)%(end) %(color:yellow)%(refname:short)%(color:normal)' refs/heads
  mias = merge -Xignore-all-space
[color]
  ui = true
[user]
  email = shuanwang@gmail.com
  name = Shuan Wang
[core]
  autocrlf = false
